<div class="modal" data-qa="modalBody">
  <mat-dialog-content>
    <form
      [formGroup]="calendarEventForm"
      (ngSubmit)="onYesClick()"
      class="card__form"
    >
      <mat-form-field appearance="outline">
        <mat-label>Tytuł</mat-label>
        <input matInput formControlName="title" data-qa="modalTitle"/>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Opis</mat-label>
        <textarea
          matInput
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="20"
          cdkTextareaAutosize
          formControlName="description"
          data-qa="modalDescription"
        ></textarea>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <p>
        <mat-checkbox formControlName="createTask">Utwórz zadanie</mat-checkbox>
      </p>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-flat-button
      color="primary"
      (click)="onYesClick()"
      [disabled]="!calendarEventForm.valid"
      data-qa="modalSubmit"
    >
      Zapisz
    </button>
    <button mat-button (click)="onDeleteClick()" *ngIf="!isCreate" data-qa="modalDelete">
      Usuń
    </button>
    <button mat-button (click)="onNoClick()" data-qa="modalCancel">
      Wyjdź
    </button>
  </mat-dialog-actions>
</div>
