<mat-card class="card">
  <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()" class="card__form">
    <mat-form-field appearance="outline">
      <mat-label>email</mat-label>
      <input matInput formControlName="email">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Imie</mat-label>
      <input matInput formControlName="firstName">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nazwisko</mat-label>
      <input matInput formControlName="lastName">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>


    <button mat-raised-button type="submit" [disabled]="!registerForm.valid">Zarejestruj</button>
    <button mat-raised-button type="submit" color="accent" (click)="goToLogin()">Zaloguj</button>
  </form>
</mat-card>

