<div class="dashboard">
  <mat-card class="dashboard__card">
    <mat-card-title>Dzisiejsze zdarzenia w kalendarzu</mat-card-title>
    <mat-card-content>
      <div class="dashboard__element" *ngFor="let event of calendarEvents">
        <p>{{event.start | date:"HH:mm"}}-{{event.end | date:"HH:mm"}}</p>
        <p>{{event.title}}</p>
        <p>{{event.description}}</p>
       </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="dashboard__card">
    <mat-card-title>Zadania do zrobienia</mat-card-title>
    <mat-card-content>
    <div class="dashboard__element" *ngFor="let task of toDoTasks">{{task.title}}</div>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard__card">
    <mat-card-title>Zadania w trakcie</mat-card-title>
    <mat-card-content>
    <div class="dashboard__element" *ngFor="let task of inProgressTasks">{{task.title}}</div>
    </mat-card-content>
  </mat-card>
</div>
