<mat-dialog-content>
  <form [formGroup]="passwordForm" class="card__form">
    <mat-form-field appearance="outline">
      <mat-label>dotychczasowe hasło</mat-label>
      <input matInput type="password" formControlName="oldPassword" />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nowe hasło</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="onYesClick()" [disabled]="!passwordForm.valid">Zapisz</button>
  <button mat-stroked-button (click)="onNoClick()">Anuluj</button>
</mat-dialog-actions>
