<mat-dialog-content>
  <form [formGroup]="passwordForm" class="card__form">
    <mat-form-field appearance="outline">
      <mat-label>dotychczasowe hasło</mat-label>
      <input matInput type="password" formControlName="oldPassword" data-qa="modalOldPassword" />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nowe hasło</mat-label>
      <input matInput type="password" formControlName="password" data-qa="modalPassword"/>
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput type="password" formControlName="confirmPassword" data-qa="modalConfirmPassword" />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="onYesClick()" [disabled]="!passwordForm.valid" data-qa="modalSubmit">Zapisz</button>
  <button mat-stroked-button (click)="onNoClick()" data-qa="modalCancel">Anuluj</button>
</mat-dialog-actions>
